<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <p>welcome</p>
    {% if user.is_authenticated %}
    <h3>Hello {{fname}}</h3>
    <h4>You are successfully logged in</h4>
    <button type="submit">
      <a href=" {% url 'auth:signOut' %} ">signOut</a>
    </button>
    {% else %}
    <button type="submit">
      <a href=" {% url 'auth:signUp' %} ">SignUp</a>
    </button>
    <button type="submit">
      <a href=" {% url 'auth:signIn' %} ">signIn</a>
    </button>
    {% endif %}
  </body>
</html>
